global
    log stdout format raw local0 info
    maxconn 256

defaults
    log global
    mode tcp
    retries 2
    timeout client 30s
    timeout connect 5s
    timeout server 30s
    timeout check 5s

listen psql
    bind *:5432
    option tcp-check
    tcp-check connect port 5432
    tcp-check expect string ^.*
    server db-primary db-primary:5432 check inter 5s fall 2 rise 2
    server db-replica db-replica:5432 check inter 5s fall 2 rise 2 backup
